body {
    background-color: #000;
    color: white;
}
h1 {
    text-transform: uppercase;
    font-size: 54px;
    text-align: center;
    font-family: 'Press start 2P', Arial;
}  
canvas {
    display: block;
    margin: 10px auto;
}